.container{
	width:960px;
	height:960px;
	margin: 0px auto auto auto;
	padding:0px;
}
span{
	display: block;
	margin:0px;
	padding:0px;
}
span div{
	/*height: 58px;
	width: 58px;*/
	display: inline-block;
	margin: 0px;
	border:1px solid red;

}
.red{
	background-color:red;
}
button{
	position: fixed;
	left:100px;
	top:200px;
}